/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
.idea/
.php_cs
.phplint-cache
.php_cs.cache
.php-cs-fixer.cache
build/
coverage/
clover.xml
phpunit.xml
psalm.xml
vendor/
tests.php
.DS_Store
.history/
node_modules/
package-lock.json
mutation-report.html
storage/logs/laravel.log
.env
/.ai-commit.*
/composer.lock