parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$times of function retry expects int, array\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: app/Commands/CommitCommand.php

		-
			message: "#^Parameter \\#3 \\$sleepMilliseconds of function retry expects Closure\\|int, array\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: app/Commands/CommitCommand.php

		-
			message: "#^Access to protected property App\\\\Macros\\\\StringableMacro\\:\\:\\$value\\.$#"
			count: 1
			path: app/Macros/StringableMacro.php

		-
			message: "#^Access to an undefined property App\\\\Support\\\\FoundationSDK\\:\\:\\$stubCallbacks\\.$#"
			count: 1
			path: app/Support/FoundationSDK.php

