parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Foundation\\\\Application\\:\\:isProduction\\(\\)\\.$#"
			count: 1
			path: app/Commands/BuildCommand.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Console\\\\Output\\\\OutputInterface\\:\\:section\\(\\)\\.$#"
			count: 1
			path: app/Commands/BuildCommand.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Container\\\\Container\\:\\:isProduction\\(\\)\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Access to protected property App\\\\Macros\\\\StringableMacro\\:\\:\\$value\\.$#"
			count: 1
			path: app/Macros/StringableMacro.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Str\\:\\:isJson\\(\\)\\.$#"
			count: 1
			path: app/Macros/StringableMacro.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Feature/ConfigCommandTest.php
