<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  cacheResultFile="build/phpunit/.phpunit.result.cache"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  verbose="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
    <exclude>
      <!--<directory>app/Contracts</directory>-->
      <file>app/Commands/BuildCommand.php</file>
      <file>app/Support/JsonFixer.php</file>
      <file>app/Support/helpers.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
      <exclude>vendor/</exclude>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
      <exclude>vendor/</exclude>
    </testsuite>
  </testsuites>
  <!--<listeners>
      <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
          <arguments>
              <array>
                  <element key="slowThreshold">
                      <integer>500</integer>
                  </element>
                  <element key="reportLength">
                      <integer>10</integer>
                  </element>
                  <element key="stopOnSlow">
                      <boolean>false</boolean>
                  </element>
              </array>
          </arguments>
      </listener>
  </listeners>-->
</phpunit>
