<?xml version="1.0" encoding="UTF-8"?>
<psalm
    errorLevel="4"
    findUnusedVariablesAndParams="true"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    cacheDirectory="./build/psalm/"
    errorBaseline="psalm-baseline.xml"
>
    <projectFiles>
        <directory name="app"/>
        <directory name="config"/>
        <directory name="tests"/>
        <ignoreFiles allowMissingFiles="true">
            <directory name="vendor"/>
            <file name="app/xxx.php"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PropertyNotSetInConstructor errorLevel="info"/>
    </issueHandlers>

    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
