# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '#^Static property App\\Clients\\Ernie\:\:\$accessToken \(string\|null\) does not accept mixed\.$#'
            count: 1
            path: ../app/Clients/Ernie.php

        -
            message: '#^Property App\\Commands\\CommitCommand\:\:\$configManager \(App\\ConfigManager\) does not accept mixed\.$#'
            count: 1
            path: ../app/Commands/CommitCommand.php

        -
            message: '#^Property App\\Commands\\ConfigCommand\:\:\$configManager \(App\\ConfigManager\) does not accept mixed\.$#'
            count: 1
            path: ../app/Commands/ConfigCommand.php

        -
            message: '#^Property Illuminate\\Config\\Repository\:\:\$items \(array\<string, mixed\>\) does not accept array\.$#'
            count: 2
            path: ../app/ConfigManager.php

        -
            message: '#^Property App\\Generators\\Generator\:\:\$helperSet \(Symfony\\Component\\Console\\Helper\\HelperSet\) does not accept mixed\.$#'
            count: 1
            path: ../app/Generators/Generator.php
