# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Trying to invoke \(callable\(\)\: mixed\)\|null but it might not be a callable\.$#'
            count: 1
            path: ../app/Clients/Ernie.php

        -
            message: '#^Trying to invoke \(callable\(\)\: mixed\)\|null but it might not be a callable\.$#'
            count: 1
            path: ../app/Clients/Moonshot.php

        -
            message: '#^Trying to invoke \(callable\(\)\: mixed\)\|null but it might not be a callable\.$#'
            count: 1
            path: ../app/Clients/OpenAI.php
