# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Foreach overwrites \$editor with its value variable\.$#'
            count: 1
            path: ../app/Commands/ConfigCommand.php
