# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method App\\Clients\\AbstractClient\:\:makeLoggerMiddleware\(\) is unused\.$#'
            count: 1
            path: ../app/Clients/AbstractClient.php

        -
            message: '#^Method App\\Commands\\CommitCommand\:\:shouldVerify\(\) is unused\.$#'
            count: 1
            path: ../app/Commands/CommitCommand.php
