# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../app/Exceptions/InvalidJsonFileException.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../app/Exceptions/TaskException.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../app/Exceptions/UnsupportedConfigActionException.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../app/Exceptions/UnsupportedConfigFileTypeException.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../app/Generators/ErnieBotTurboGenerator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../app/Generators/OpenAIChatGenerator.php
