# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Use explicit return value over magic &reference$#'
            count: 1
            path: ../app/Generators/ErnieBotGenerator.php

        -
            message: '#^Use explicit return value over magic &reference$#'
            count: 1
            path: ../app/Generators/MoonshotGenerator.php

        -
            message: '#^Use explicit return value over magic &reference$#'
            count: 1
            path: ../app/Generators/OpenAIGenerator.php
